*{
  margin: 0;
  padding: 0;
}
html, body{
    height: 100%;
    font-size: 16px;
    background-color: rgb(0,35,85);
}

/* 预加载 */
.mask,.swiper-container{
    width: 100%;
    height: 100%;
}
.mask{
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  line-height: 100%;
  color: #fff;
  z-index: 999;
  font-size: 2rem;
}
.scale{
  width: 100%;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

/* 首页 */
.index-page video{
  width: 100%;
  position: relative;
  z-index: 3;
}
.index-page .bg{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.index-page .index-title{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 15rem;
  z-index: 2;
}
.index-page .next-icon{
  width: 10%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  margin: auto;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  z-index: 2;
}
.swiper-slide img{
  width: 100%;
  display: block;
}
.swiper-container-scrollbar .swiper-slide{
    height: auto;
    position: relative;
}

/* 心动互联 */
.swiper-container-scrollbar .interactive-title{
  width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.6%;
  margin: auto;
}
.swiper-container-scrollbar .music{
      width: 62%;
    position: absolute;
    left: -3%;
    top: 5.8%;
}
.swiper-container-scrollbar .music-word{
  position: absolute;
  right: 9%;
  top: 7%;
  width: 36%;
}
.swiper-container-scrollbar .wifi{
    width: 70%;
    position: absolute;
    right: -9%;
    top: 9.75%;
}
.swiper-container-scrollbar .wifi-word{
    width: 32%;
    position: absolute;
    top: 11%;
    left: 12%;
}
.swiper-container-scrollbar .speech{
    width: 50%;
    position: absolute;
    left: 0;
    top: 12.9%;
}
.swiper-container-scrollbar .speech-word{
position: absolute;
    left: 12%;
    top: 16.8%;
    width: 28%;
}
.swiper-container-scrollbar .navigation{
    width: 56%;
    position: absolute;
    right: 0;
    top: 15.9%;
}
.swiper-container-scrollbar .navigation-word{
    position: absolute;
    right: 20%;
    top: 14%;
    width: 26%;

}

/* 引擎 */
.swiper-container-scrollbar .engine-title{
    position: absolute;
    width: 72%;
    left: 0;
    right: 0;
    top: 19.4%;
    margin: auto;
    display: none;
}
.swiper-container-scrollbar .motor{
    position: absolute;
    width: 54%;
    left: 0;
    top: 24.3%;
    display: none;
}
.swiper-container-scrollbar .motor-word{
    position: absolute;
    right: 23%;
    top: 25.6%;
    display: none;
    width: 25%;
}
.swiper-container-scrollbar .APS{
    position: absolute;
    width: 48%;
    right: 0;
    top: 28%;
    display: none;
}
.swiper-container-scrollbar .APS-word{
    position: absolute;
    left: 25%;
    top: 31.4%;
     display: none; 
    width: 38%;
}
.swiper-container-scrollbar .AS{
    position: absolute;
    width: 48%;
    left: -5%;
    top: 31.6%;
    display: none;
}
.swiper-container-scrollbar .AS-word{
    position: absolute;
    left: 32%;
    top: 33.4%;
     display: none; 
    width: 36%;
}
.swiper-container-scrollbar .gearbox{
    position: absolute;
    right: -16%;
    top: 33.6%;
    display: none;
    width: 58%;
}
.swiper-container-scrollbar .gearbox-word{
    position: absolute;
    left: 33%;
    top: 36.8%;
    display: none;
    width: 24%;
}
.swiper-container-scrollbar .model-title{
    position: absolute;
    width: 53%;
    left: 0;
    right: 0;
    top: 40.4%;
    display: none;
    margin: auto;
}
.swiper-container-scrollbar .dw{
    width: 88%;
    position: absolute;
    left: 0;
    top: 45.7%;
    display: none;
}
.swiper-container-scrollbar .headlight-word{
    position: absolute;
    right: 22%;
    top: 45.9%;
    display: none;
    width: 26%;
}
.swiper-container-scrollbar .grille-word{
    position: absolute;
    right: 5%;
    top: 47.6%;
    display: none;
    width: 32%;
}
.swiper-container-scrollbar .up{
    width: 98%;
    position: absolute;
    right: 0;
    top: 54.5%;
    display: none;
}
.swiper-container-scrollbar .rack-word{
    position: absolute;
    right: 14%;
    top: 52.8%;
    display: none;
    width: 28%;
}
.swiper-container-scrollbar .taillight-word{
    position: absolute;
    left: 29%;
    top: 53.7%;
    display: none;
    width: 27%;
}
.swiper-container-scrollbar .hub-word{
    position: absolute;
    left: 10%;
    top: 54.8%;
    display: none;
    width: 20%;
}
.swiper-container-scrollbar .tent-title{
    position: absolute;
    right: 0;
    left: 0;
    top: 60.75%;
    display: none;
    width: 53%;
    margin: auto;
}
.swiper-container-scrollbar .atmosphere{
    position: absolute;
    left: -6%;
    top: 65.4%;
    display: none;
    width: 60%;
}
.swiper-container-scrollbar .atmosphere-word{
position: absolute;
    right: 9%;
    top: 67%;
    width: 34%;
    display: none;
}
.swiper-container-scrollbar .sunshade{
    position: absolute;
    right: -2%;
    top: 69.6%;
    display: none;
    width: 46%;
}
.swiper-container-scrollbar .sunshade-word{
    position: absolute;
    left: 8%;
    top: 71.4%;
    display: none;
    width: 38%;
}
.swiper-container-scrollbar .skylight{
    position: absolute;
    left: 0;
    top: 72.9%;
    display: none;
}
.swiper-container-scrollbar .skylight-word{
    position: absolute;
    right: 18%;
    top: 73.8%;
    display: none;
    width: 33%;
}
.swiper-container-scrollbar .sales{
    position: absolute;
    left: 0;
    right: 0;
    top: 81.1%;
    margin: auto;
    display: none;
    width: 70%;
}
.swiper-container-scrollbar .next-btn{
  width: 28%;
  height: 3rem;
  position: absolute;
  left: 12%;
  bottom: 0.5%;
}
.swiper-container-scrollbar .download-btn{
  width: 34%;
  height: 3rem;
  position: absolute;
  right: 12%;
  bottom: 0.5%;
}
.order-page{
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top:-3%;
  display: none;
  z-index: 999;
}
.order-page .return-btn{
  width: 11%;
  height: 3rem;
  position: absolute;
  top: 3%;
  right: 2rem;
}
.order-page .submit-btn{
  width: 76%;
  height: 3rem;
  position: absolute;
  top: 69%;
  right: 0;
  left: 0;
  margin: auto;
}
.order-page img{
  width: 100%;
  display: block;
}
.order-page select{
  width: 36%;
  position: absolute;
  height: 2.4rem;
  color: #001c58;
  padding-left: 0.5rem;
  top: 33%;
}
.order-page input::-webkit-input-placeholder{
        color: #001c58;
    }
.order-page input[type="text"],.order-page input[type="number"]{
  width: 32%;
  position: absolute;
  height: 2.2rem;
  color: #001c58;
  padding-left: 0.8rem;
  top: 22%;
}
.order-page .name-input{
  left: 3.1rem;
}
.order-page .phone-input{
  right: 3.1rem;
}
.order-page .province-select{
  left: 3.15rem;
}
.order-page .city-select{
  right: 3.15rem;
}
.order-page .dealer-select{
  top: 45%;
  right: 0;
  left: 0;
  width: 75%;
  margin: auto;
}
.order-page .check{
  position: absolute;
  top: 54%;
  left: 12%;
  width: 1rem;
  height: 1rem;
}
.order-page .check img{
  display: none;
}
.order-page img.active{
  display: block;
}