.upload_preview {
    background-color: #fff;
    overflow: hidden;
    _zoom: 1;
}
.upload_append_list {
    height: 100%;
    margin: 1em;
    float: left;
    position: relative;
}
.file_bar {
    margin: 0;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 0px;
    height: 0px;
    padding: 0px;
    margin: 0;
    opacity: 0.8;
    color: #fff;
    background: none repeat scroll 0 0 #000000;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: hidden;
}
.upload_append_list a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DFDFDF;
    background: url("./patterns/bg.png") no-repeat scroll center 0px transparent;
}
.file_hover{
	height:30px;
	cursor:pointer;
}
.file_name {
    margin: 0px;
    white-space: nowrap;
    width: 66%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
}
.file_del {
    background: url("./patterns/delete_white.png") no-repeat scroll 0 0 transparent;
    width: 18px;
    height: 18px;
    display: inline;
    -moz-user-select: none;
    position: absolute;
    right: 3px;
    margin-top: 4px;
}